[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python3-netsnmp = "*"
pysnmp = "==4.4.12"
pyasn1 = "==0.4.8"
pysnmp-mibs = "*"
tabulate = "*"
easysnmp = "*"
netaddr = "*"
networkx = "*"
graphviz = "*"

[dev-packages]

[requires]
python_version = "3.10"
